{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 250px;">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <h1>Welcome to In Touch</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
        </div>
        <div class="col-md-1 d-flex align-items-center justify-content-center">
            <div style="width: 1px; height: 200%; background-color: #ccc;"></div>
        </div>
        <div class="col-md-3 text-center">
            <p>Already a member?</p>
            <a href="{% url 'user:login' %}" class="btn btn-primary mb-3" style="width: 80%;">Sign In</a>
            <p>Not yet a member? </p>
            <a href="{% url 'user:registration' %}" class="btn btn-secondary" style="width: 80%;">Sign Up (register)</a>
        </div>
    </div>
</div>
{% endblock %}