{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- Add Product Form -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <!-- Add Product Form -->
                    <h2 class="text-center mb-4">Add Product</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Form Fields -->
                        <!-- Name -->
                        
                        <div class="mb-3">
                            <label for="product name" class="form-label">Product Name</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Description -->
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            {{ form.description }}
                            {% if form.description.errors %}
                                {% for error in form.description.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Price -->
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            {{ form.price }}
                            {% if form.price.errors %}
                                {% for error in form.price.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Category -->
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            {{ form.category }}
                            {% if form.category.errors %}
                                {% for error in form.category.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Image -->
                        <div class="mb-3">
                            <label for="image" class="form-label">Upload Picture</label>
                            {{ form.image }}
                            {% if form.image.errors %}
                                {% for error in form.image.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Add Product</button>
                            <!-- Button to redirect to added_products.html -->
                            <a href="{% url 'marketplace:added_products' %}" class="btn btn-secondary">View Your Products</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Add Product Form -->
{% endblock %}
