{% extends "base.html" %}

{% block content %}

<div class="container mt-5" style="width: 800px;">
    <h2 style="text-align: center; margin: 15px auto;">Shipping Information</h2>
    <p style="text-align: center; margin: 20px auto;">To place an order please enter your delivery details</p>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group" style="margin: 10px auto;">
            {{ form.shipping_full_name }}
        </div>
        <div class="form-group" style="margin: 10px auto;">
            {{ form.shipping_email }}
        </div>
        <div class="form-group" style="margin: 10px auto;">
            {{ form.shipping_address1 }}
        </div>
        <div class="form-group" style="margin: 10px auto;">
            {{ form.shipping_address2 }}
        </div>
        <div class="form-group" style="margin: 10px auto;">
            {{ form.shipping_city }}
        </div>
        <div class="form-group" style="margin: 10px auto;">
            {{ form.shipping_state }}
        </div>
        <div class="form-group" style="margin: 10px auto;">
            {{ form.shipping_zipcode }}
        </div>
        <div class="form-group" style="margin: 10px auto;">
            {{ form.shipping_country }}
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}