{% extends 'base.html' %}


{% block content %}

<!-- cart logo -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Your main content here -->
        </div>
        <div class="d-flex justify-content-end" style="padding-top: 20px;">
            <a href="{% url 'marketplace:cart_summary' %}" class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i>
                Shopping Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
            </a>
        </div>
    </div>
</div>

<br>
<div class="container">
{% if cart_products %}
    {% for product in cart_products %}
        
        <br>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <center> 
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            {% if product.is_sale %}
                                <span class="text-muted"><strike>€{{ product.price }}</strike></span>
                                <span class="text-danger ms-2">€{{ product.sale_price }}</span>
                                <span class="badge bg-danger text-white ms-2">Sale</span>
                            {% else %}
                                €{{ product.price }}
                                <br>
                                <p class="product-id" id="product-id">ID : {{ product.id }}</p>
                            {% endif %}
                            <br><br>
                            <form method="post" action="{% url 'marketplace:cart_delete' %}">
                                {% csrf_token %}
                                <div class="row justify-content-center">
                                    
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{% url 'marketplace:marketplace_page' %}" class="btn btn-outline-dark mt-auto">Home</a>
                                    </div>
                                </div>
                            </form>
                            <br><br>
                            <form method="post" action="{% url 'marketplace:cart_delete' %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <div class="row justify-content-center">
                                    
                                </div>                                
                            </form>                            
                        </center>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <h1>There's Nothing In Your Cart...</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}
</div>

{% endblock %}
