{% extends 'base.html' %}

{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Your main content here -->
        </div>
        <div class="col-md-6 d-flex justify-content-end" style="padding-top: 20px;">
          <form class="d-flex">
          
            <a href="{% url 'marketplace:cart_summary' %}" class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i>
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span></a>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        </form>
        </div>
    </div>
  </div>

<br>
<div class="container">
{% if cart_products %}
    {% for product in cart_products %}
        
        <br>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <center> 
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            {% if product.is_sale %}
                                <span class="text-muted"><strike>€{{ product.price }}</strike></span>
                                <span class="text-danger ms-2">€{{ product.sale_price }}</span>
                                <span class="badge bg-danger text-white ms-2">Sale</span>
                            {% else %}
                                €{{ product.price }}
                                <br>ID : {{ product.id }}
                            {% endif %}
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-md-2">Quantity:</div>
                                <div class="col-md-2">
                                    <select class="form-select form-select-sm quantity-select" id="select{{ product.id }}">
                                        

                                {% for key, value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                <option selected>{{ value }}</option>
                                    {% endif %}
                                {% endfor %}

                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                     <button type="button" class="btn btn-danger delete-product" data-product-id="{{ product.id }}">Delete</button>
                                    
                                    <button class="btn btn-primary">Buy Product</button>
                                </div>
                            </div>                                
                        </center>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <h1>There's Nothing In Your Cart...</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}
</div>

    <script>
    $(document).ready(function(){
        $('.quantity-select').change(function(){
            
            var selectedQuantity = $(this).val();
            console.log(selectedQuantity); 
    
            
            var productId = $(this).closest('.card').find('.product-id').val();
    
            
            $.ajax({
                type: 'POST',
                url: "{% url 'marketplace:cart_summary' %}",
                data: {
                    product_id: productId,
                    quantity: selectedQuantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(data){
                    
                    console.log("Quantity updated successfully!");
                },
                error: function(xhr, errmsg, err){
                    
                    console.log("Error updating quantity:", errmsg);
                }
            });
        });
    });
    </script>
  


  <script>
    $(document).ready(function(){
        $('.delete-product').click(function(){
            var productId = $(this).data('product-id');
            
            $.ajax({
                type: 'POST',
                url: "{% url 'marketplace:cart_delete' %}",
                data: {
                    product_id: productId,  // Pass the product_id parameter
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data){
                    // Reload the cart summary page or update the UI as needed
                    window.location.reload(); // Example: reload the page
                },
                error: function(xhr, errmsg, err){
                    console.log("Error deleting product:", errmsg);
                }
            });
        });
    });
    </script>

{% endblock %}