{% extends "base.html" %}

{% block content %}

<!-- cart logo -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Your main content here -->
        </div>
        <div class="d-flex justify-content-end" style="padding-top: 20px;">
            <a href="{% url 'marketplace:cart_summary' %}" class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i>
                Shopping Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
            </a>
        </div>
    </div>
</div>

<div class="container mt-5" style="text-align: center;">
    <h3>Your shipping details</h3>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    
                        <p><strong>Full Name:</strong> {{ request.POST.shipping_full_name }}</p>
                        <p><strong>Email Address:</strong> {{ request.POST.shipping_email }}</p>
                        <p><strong>Address 1:</strong> {{ request.POST.shipping_address1 }}</p>
                        <p><strong>Address 2:</strong> {{ request.POST.shipping_address2 }}</p>
                        <p><strong>City:</strong> {{ request.POST.shipping_city }}</p>
                        <p><strong>State:</strong> {{ request.POST.shipping_state }}</p>
                        <p><strong>Zipcode:</strong> {{ request.POST.shipping_zipcode }}</p>
                        <p><strong>Country:</strong> {{ request.POST.shipping_country }}</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="margin-bottom: 25px;">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Payment Details</h3>
                    <!-- Display total price -->
                    <p>Total Price: €<span id="total-cart-price">0.00</span></p>
                    <form method="POST" action="{% url 'marketplace:success_page' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="card_number">Card Number</label>
                            <input type="text" id="card_number" name="card_number" class="form-control" placeholder="Enter your card number">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="expiry_date">Expiry Date</label>
                                <input type="text" id="expiry_date" name="expiry_date" class="form-control" placeholder="MM/YY">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" class="form-control" placeholder="CVV">
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-secondary">Make Payment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const totalCartPrice = localStorage.getItem('totalCartPrice');
    if (totalCartPrice) {
        document.getElementById('total-cart-price').textContent = totalCartPrice;
    }
</script>

{% endblock %}