{% extends "base.html" %}

{% block content %}

<!-- cart logo -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Your main content here -->
        </div>
        <div class="d-flex justify-content-end" style="padding-top: 20px;">
            <a href="{% url 'marketplace:cart_summary' %}" class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i>
                Shopping Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <div class="card mb-3" style="padding: 40px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="text-left" style="margin-left: 40px;">
                        <h4 class="card-title" style="text-align: center;">{{ product.name }}</h4>
                        <br>
                        <p class="card-text"><strong>Seller:</strong> 
                            <a href="{% url 'user:my_user_profile' product.seller.id %}"  style="text-decoration: none; color: inherit;">
                                {{ product.seller.first_name }} {{ product.seller.last_name }}
                            </a>
                        </p>
                        <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="row justify-content-center">
                            
                        </div>
                        
                        {% if product.is_sale %}
                            <span class="text-muted"><strike>€{{ product.price }}</strike></span>
                            <span class="text-danger ms-2">€{{ product.sale_price }}</span>
                            <span class="badge bg-danger text-white ms-2">Sale</span>
                        {% else %}
                            <p class="card-text"><strong>Product price:</strong> €{{ product.price }}</p>
                        {% endif %}
                        <p class="card-text"><strong>Product condition:</strong> {{ product.condition|capfirst }}</p>
                        <!-- Display available quantity -->
                        <div> 
                            <p class="card-text"><strong>Available quantity:</strong> {{ product.quantity }}</p>
                        </div>
                        <p class="card-text">
                            <p class="card-text">
                                <a href="{% url 'messaging:start_thread' product.seller.id %}"  class="btn btn-secondary">
                                    Write to the Seller
                                </a>
                            </p>
                    </div>
                    <br><br>
                    <form method="post" action="{% url 'marketplace:cart_add' %}" class="text-center" id="add-to-cart-form">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="hidden" name="quantity" value="1">
                    
                        <br><br>
                        <div class="d-flex justify-content-center gap-2" role="group">
                            <button type="submit" class="btn btn-outline-dark mt-auto" id="add-to-cart-btn">Add to Cart</button>
                            <a href="{% url 'marketplace:marketplace_page' %}" class="btn btn-outline-dark mt-auto">Home</a>
                            <button type="submit" form="buy-now-form" class="btn btn-outline-primary mt-auto" id="buy-now-btn">Buy Now</button>
                        </div>
                    </form>
                    
                    <form method="post" action="{% url 'marketplace:buy_now' %}" id="buy-now-form" style="display:none;">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="hidden" name="quantity" value="1">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


