{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Your main content here -->
        </div>
        <div class="col-md-6 d-flex justify-content-end" style="padding-top: 20px;">
          <form class="d-flex">
          
            <a href="{% url 'marketplace:cart_summary' %}" class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i>
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span></a>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        </form>
        </div>
    </div>
  </div>

  <div class="container">
    <br>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Seller: <a href="{% url 'user:my_user_profile' user.id %}"  style="text-decoration: none; color: inherit;">{{ product.seller.first_name }} {{ product.seller.last_name }}</a></p>
                        {% if product.is_sale %}
                            <span class="text-muted"><strike>€{{ product.price }}</strike></span>
                            <span class="text-danger ms-2">€{{ product.sale_price }}</span>
                            <span class="badge bg-danger text-white ms-2">Sale</span>
                        {% else %}
                            €{{ product.price }}
                            <br>ID : {{ product.id }}
                        {% endif %}
                    </div>
                    <br><br>
                    <div class="row justify-content-center">
                        <div class="col-md-2">Quantity:</div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" id="qty-cart">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <div class="text-center">
                        <a href="{% url 'marketplace:marketplace_page' %}" class="btn btn-secondary">Home</a>
                        <button class="btn btn-secondary add-to-cart" data-product-id="{{ product.id }}">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  

{% endblock %}
