{% extends "base.html" %}

{% block content %}

<!-- cart logo -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Your main content here -->
        </div>
        <div class="d-flex justify-content-end" style="padding-top: 20px;">
            <a href="{% url 'marketplace:cart_summary' %}" class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i>
                Shopping Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <div class="card mb-3" style="padding: 40px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <br><br>

                        <p class="card-text">{{ product.description }}</p>
                        
                        <p class="card-text">Message the Seller: <a href="{% url 'user:my_user_profile' product.seller.id %}"  style="text-decoration: none; color: inherit;">{{ product.seller.first_name }} {{ product.seller.last_name }}</a></p>
                        <div class="row justify-content-center">
                            
                        </div>
                        <br>
                        
                        
                        {% if product.is_sale %}
                            <span class="text-muted"><strike>€{{ product.price }}</strike></span>
                            <span class="text-danger ms-2">€{{ product.sale_price }}</span>
                            <span class="badge bg-danger text-white ms-2">Sale</span>
                        {% else %}
                            Product price €{{ product.price }}
                            <br>Product Condition : {{ product.condition|capfirst }}
                        {% endif %}
                        
                        <!-- Display available quantity -->
                        <div style="margin-top: 10px;"> 
                            <p class="card-text">Available Quantity: {{ product.quantity }}</p>
                        </div>
                    </div>
                    <br><br>
                    <form method="post" action="{% url 'marketplace:cart_add' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        
                        
                        <br><br>
                        <div class="d-inline-flex gap-2" role="group">
                            <button type="submit" class="btn btn-outline-dark mt-auto">Add to Cart</button>
                            <a href="{% url 'marketplace:marketplace_page' %}" class="btn btn-outline-dark mt-auto">Home</a>
                            <a href="{% url 'marketplace:shipping_form' %}" class="btn btn-outline-primary">Buy Now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


