{% extends "base.html" %}

{% block content %}

    <div style="margin: 30px auto 5px auto; text-align: center; padding: 15px 0 10px 0; background-color: rgb(236, 236, 236); width: 1100px;" class="card">
        <form method="post" style="display: inline-block; vertical-align: top;">
            {% csrf_token %}
            <div class="inner-card" style="margin: 0 0 0 15px; display: flex; border-radius: 3%;">
                <div class="mb-3" style="width: 20%; margin: 0 auto;">
                    <input type="text" class="form-control" placeholder="Search" name="search" value="{{ form.search.value|default_if_none:'' }}">
                </div>
                <div class="mb-3" style="width: 20%; margin: 0 auto;">
                    <input type="text" class="form-control" placeholder="City" name="city" value="{{ form.city.value|default_if_none:'' }}">
                </div>
                <div class="mb-3" style="width: 12%; margin: 0 auto;">
                    <select class="form-control" name="gender">
                        {% if form.gender.value == "MALE" %}
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        {% elif form.gender.value == "FEMALE" %}
                            <option value="FEMALE">Female</option>
                            <option value="MALE">Male</option>
                        {% else %}
                            <option value="" disabled selected>Select gender</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        {% endif %}
                    </select>
                </div>
                <div class="mb-3" style="width: 14%; margin: 0 auto;">
                    <input type="number" class="form-control" placeholder="Age more than" name="age_more_than" value="{{ form.age_more_than.value }}">
                </div>
                <div class="mb-3" style="width: 14%; margin: 0 auto;">
                    <input type="number" class="form-control" placeholder="Age less than" name="age_less_than" value="{{ form.age_less_than.value }}">
                </div>
                <button type="submit" class="btn btn-secondary" style="vertical-align: top; margin-right: 15px; margin-left: 11px; height: 39px;">Search</button>
            </div>

            
        </form>
    </div>

    {% if searched %}
    <!-- If POST request -->

        <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
            <!-- BOX with all users -->
            <div class="card" style="text-align: center; width: 850px; margin-bottom: 20px; margin-top: 20px; border: none; background-color: rgb(236, 236, 236);">
                <h3 style="margin-top: 15px;">Search result:</h3>

                {% for search_res_profile in search_res_with_status %}
                
                <div class="inner-card" style="margin: 0 0 0 15px; display: flex; border-radius: 3%;">
                    <div>
                        <a href="{% url 'user:my_user_profile' search_res_profile.profile.user.id  %}">
                            <img src="{{search_res_profile.profile.image.url}}" alt="photo" width="70" height="70" style="border-radius: 50%; margin: 13px;"> 
                        </a>
                    </div>
                    <div style="text-align: left; margin-top: 18px">
                        <a href="{% url 'user:my_user_profile' search_res_profile.profile.user.id  %}" style="text-decoration: none; color: inherit;">
                            <h5>{{ search_res_profile.profile.user.first_name }} {{ search_res_profile.profile.user.last_name }}</h5>
                        </a>
                        <p>{{ search_res_profile.profile.age }} years, {{ search_res_profile.profile.location }}</p>
                    </div>
                    
                    <div style="margin-top: 32px; margin-left: auto;">
                        <!-- Subscribe -->
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_id" value={{search_res_profile.profile.user.id}}>
                            <button type="submit" class="btn btn-secondary" style="font-size: 15px; height: 35px;">
                                {% if search_res_profile.is_subscribed %}
                                    Unsubscribe
                                {% else %}
                                    Subscribe
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    
                    <div style="margin-left: 10px; margin-top: 32px; margin-right: 15px;">
                        <!-- Send a message -->
                        <a href="{% url 'messaging:start_thread' search_res_profile.profile.user.id %}">
                            <button class="btn btn-secondary" style="border-width: 2px;  font-size: 15px; height: 35px;">Send a message</button>
                        </a>
                    </div>
                </div>

                {% endfor %}

                <!-- API -->
                {% if search_res_profile and search_res_user %}

                    {% for profile in search_res_profile %}
                        {% for user in search_res_user %}
                            {% if profile.id == user.id %}

                                <div class="inner-card" style="margin: 0 0 0 15px; display: flex; border-radius: 3%;">
                                    <div>
                                        <a href="#">
                                            <img src="/media/user_images/dummy-profile-picture.png" alt="photo" width="70" height="70" style="border-radius: 50%; margin: 13px;"> 
                                        </a>
                                    </div>
                                    <div style="text-align: left; margin-top: 18px">
                                        <a href="#" style="text-decoration: none; color: inherit;">
                                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                                        </a>
                                        <p>{{ profile.age }} years, {{ profile.location }}</p>
                                    </div>
                                    
                                    <div style="margin-top: 32px; margin-left: auto;">
                                        <!-- Subscribe -->
                                        <button>
                                            Subscribe
                                        </button>
                                    </div>
                                    
                                    <div style="margin-left: 10px; margin-top: 32px; margin-right: 15px;">
                                        <!-- Send a message -->
                                        <a href="#">
                                            <button style="border-radius: 5%; border-width: 2px; height: 30px; width: 140px;">Send a message</button>
                                        </a>
                                    </div>
                                </div>
                                
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                {% endif %}
            </div>
            
        </div>

        <div style="text-align: center; margin-bottom: 16px;">
            <a href="{% url 'search:search' %}">
                <button class="btn btn-secondary">Reset filter</button>
            </a>
        </div>


    {% else %}
    <!-- If GET request -->

        <div style="display: flex; justify-content: center; align-items: center; margin-top: 0;">
            
            <!-- BOX with recommended users -->
            <div class="card" style="text-align: center; width: 850px; margin-bottom: 20px; margin-top: 20px; border: none; background-color: rgb(236, 236, 236);">
                
                <h4 style="margin-top: 15px;">People you may know:</h4>

                {% for recommended_profile in recommended_profiles_with_status %}

                <div class="inner-card" style="margin: 0 0 0 15px; display: flex; border-radius: 3%; align-items: center;">
                    <div>
                        <a href="{% url 'user:my_user_profile' recommended_profile.profile.user.id  %}">
                            <img src="{{recommended_profile.profile.image.url}}" alt="photo" width="70" height="70" style="border-radius: 50%; margin: 13px;"> 
                        </a>
                    </div>
                    <div style="text-align: left; margin-top: 18px;">
                        <a href="{% url 'user:my_user_profile' recommended_profile.profile.user.id  %}" style="text-decoration: none; color: inherit;">
                            <h5>{{ recommended_profile.profile.user.first_name }} {{ recommended_profile.profile.user.last_name }}</h5>
                        </a>
                        <p>{{ recommended_profile.profile.age }} years, {{ recommended_profile.profile.location }}</p>
                    </div>
            
                    <div style="margin-top: 5px; margin-left: auto;">
                        <!-- Subscribe -->
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_id" value={{recommended_profile.profile.user.id}}>
                            <button type="submit" class="btn btn-secondary" style="font-size: 15px; height: 35px;">
                                {% if recommended_profile.is_subscribed %}
                                    Unsubscribe
                                {% else %}
                                    Subscribe
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    
                    <div style="margin-left: 10px; margin-top: 5px; margin-right: 15px;">
                        <!-- Send a message -->
                        <a href="{% url 'messaging:start_thread' recommended_profile.profile.user.id %}">
                            <button class="btn btn-secondary" style="border-width: 2px;  font-size: 15px; height: 35px;">Send a message</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            
        </div>

        <div style="display: flex; justify-content: center; align-items: center; margin-top: 5px;">

            <!-- BOX with all users -->
            <div class="card" style="text-align: center; width: 850px; margin-bottom: 20px; margin-top: 0; border: none; background-color: rgb(236, 236, 236);">
                <h4 style="margin-top: 15px;">All people:</h4>

                {% for sorted_profile in all_profiles_with_status %}
                
                <div class="inner-card" style="margin: 0 0 0 15px; display: flex; border-radius: 3%;">
                    <div>
                        <a href="{% url 'user:my_user_profile' sorted_profile.profile.user.id  %}">
                            <img src="{{sorted_profile.profile.image.url}}" alt="photo" width="70" height="70" style="border-radius: 50%; margin: 13px;"> 
                        </a>
                    </div>
                    <div style="text-align: left; margin-top: 18px">
                        <a href="{% url 'user:my_user_profile' sorted_profile.profile.user.id  %}" style="text-decoration: none; color: inherit;">
                            <h5>{{ sorted_profile.profile.user.first_name }} {{ sorted_profile.profile.user.last_name }}</h5>
                        </a>
                        <p>{{ sorted_profile.profile.age }} years, {{ sorted_profile.profile.location }}</p>
                    </div>
                    
                    <div style="margin-top: 32px; margin-left: auto;">
                        <!-- Subscribe -->
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_id" value={{sorted_profile.profile.user.id}}>
                            <button type="submit" class="btn btn-secondary" style="font-size: 15px; height: 35px;">
                                {% if sorted_profile.is_subscribed %}
                                    Unsubscribe
                                {% else %}
                                    Subscribe
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    
                    <div style="margin-left: 10px; margin-top: 32px; margin-right: 15px;">
                        <!-- Send a message -->
                        <a href="{% url 'messaging:start_thread' sorted_profile.profile.user.id %}">
                            <button class="btn btn-secondary" style="border-width: 2px;  font-size: 15px; height: 35px;">Send a message</button>
                        </a>
                    </div>
                </div>

                {% endfor %}

                <!-- API -->
                {% if response_profile and response_user %}

                    {% for profile in response_profile %}
                        {% for user in response_user %}
                            {% if profile.id == user.id %}

                                <div class="inner-card" style="margin: 0 0 0 15px; display: flex; border-radius: 3%;">
                                    <div>
                                        <a href="">
                                            <img src="/media/user_images/dummy-profile-picture.png" alt="photo" width="70" height="70" style="border-radius: 50%; margin: 13px;"> 
                                        </a>
                                    </div>
                                    <div style="text-align: left; margin-top: 18px">
                                        <a href="" style="text-decoration: none; color: inherit;">
                                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                                        </a>
                                        <p>{{ profile.age }} years, {{ profile.location }}</p>
                                    </div>
                                    
                                    <div style="margin-top: 32px; margin-left: auto; font-size: 15px; height: 40px;">
                                        <!-- Subscribe -->
                                        <button type="submit" class="btn btn-secondary" style="font-size: 15px; height: 40px;">
                                            Subscribe
                                        </button>
                                    </div>
                                    
                                    <div style="margin-left: 10px; margin-top: 32px; margin-right: 15px;">
                                        <!-- Send a message -->
                                        <button class="btn btn-secondary" style="border-width: 2px;  font-size: 15px; height: 40px;">Send a message</button>
                                    </div>
                                </div>
                                
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                {% endif %}

            </div>
            
        </div>

    {% endif %}

{% endblock %}