{% extends "base.html" %}

{% block content %}

    <div class="card-container" style="text-align: left; margin-top: 20px;">

        <div class="row justify-content-center" style="padding: 0px; margin: 0px;">

            <!-- SECTION 1: USER PROFILE -->
            <div class="card" style="display: inline-block; width: 350px; margin: 35px; padding: 0px; border: none;">

                <div class="card" style="display: inline-block; width: 350px; margin: 0px; padding: 0px; background-color: rgb(235, 235, 235);">

                    <div class="card-body" style="text-align: center;">
                        <img src="{{ profile.image.url }}" alt="profile_photo" width="310" height="310" style="border-radius: 50%;">
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
                    </div>

                </div>

            </div>
            
            <!-- SECTION 2: NEWS FEED -->
            <div class="card" style="display: inline-block; width: 850px; margin: 35px; padding-left: 18px; border: none;">

                <div class="card" style="width: 815px; background-color: rgb(235, 235, 235); margin-right: 0px; margin-bottom: 20px;">
                    
                    <!-- Make a post form-->
                    <form method="POST" style="margin: 15px;" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <textarea name="text" rows="3" class="form-control" placeholder="What would you like to share today?" required></textarea>
                        </div>
                        
                        <div style="display: flex; justify-content: space-between; margin-top: 20px;">

                            <div class="form-group">
                                <input type="file" name="image" class="form-control-file" id="id_image" accept="image/*">
                            </div>
                            
                            <div>
                                <button type="submit" style="border-radius: 5%; border-width: 1px; height: 30px; width: 90px;">Submit</button>
                            </div>
                            
                        </div>
                    </form>

                </div>
                
                <!-- POSTS -->
                {% if not posts %}

                <div class="card" style="width: 815px; background-color: rgb(235, 235, 235); margin-right: 0px; 
                                    margin-bottom: 30px; padding: 30px; align-items: center;">
                    <h5>You haven't subscribed to anyone yet to see your friends' news.</h5>
                    <br>
                    <h5>Here are some people you might know and you can follow:</h5>
                    <div style="display: flex; align-items: center; white-space: nowrap; overflow-x: auto; margin-top: 30px;">
                        {% for recommended_profile in recommended_profiles %}
                        <div style="text-align: center; margin-right: auto; margin: 15px 0 0 20px;">
                            <a href="{% url 'user:my_user_profile' recommended_profile.user.id  %}">
                                <img src="{{ recommended_profile.image.url }}" alt="profile_photo" width="100" height="100" style="border-radius: 50%; margin: 0 15px 0 5px;">
                            </a>
                            <p style="font-size: 19px; margin-top: 5px;">
                                <a href="{% url 'user:my_user_profile' recommended_profile.user.id  %}" style="text-decoration: none; color: inherit;">
                                    <strong>{{ recommended_profile.user.first_name }} {{ recommended_profile.user.last_name }}</strong>
                                </a>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% else %}
                    {% for post in posts %}
                    <div class="card" style="width: 815px; background-color: rgb(235, 235, 235); margin-right: 0px; margin-bottom: 20px;">

                        <!-- Header of the post -->
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <div style="text-align: left; margin-right: auto; margin: 10px 0 0 20px;">
                                <a href="{% url 'user:my_user_profile' post.profile.user.id %}"><img src="{{ post.profile.image.url }}" alt="profile_photo" width="50" height="50" style="border-radius: 50%;"></a>
                            </div>
                            <div style="margin-left: 10px; width:750px;" >
                                <a href="{% url 'user:my_user_profile' post.profile.user.id %}" style="text-decoration: none; color: inherit;">
                                    <p style="margin-top: 25px; margin-bottom: 0;">{{ post.profile.user.first_name }} {{ post.profile.user.last_name }}</p>
                                </a>                            
                                <p style="font-size: 12px;">{{ post.created_at|timesince }} ago </p>
                            </div>


                            <!-- Dropdown button "Options" -->
                            <div class="dropdown">
                                <button type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 20px;">
                                    Options
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <!-- First action with delete button -->
                                    <li>
                                        <form method="post" action="{% url 'feed:delete_post' post_id=post.id %}">
                                            {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Delete</button>
                                        </form>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Edit post</a></li>
                                </ul>
                            </div>

                        </div>
                        
                        <!-- Text of the post -->
                        <div style="text-align: left; margin-bottom: 0; margin-left: 30px; margin-top: 0; padding-top: 5px; margin-left: 30px;">
                            {{ post.text | safe }}
                        </div>

                        <!-- Check if we have image in post -->
                        {% if post.image %}
                            <div style="text-align: center; margin-bottom: 30px;">
                                <img src="{{ post.image.url }}" alt="product" width="750" height="550" class="preview-img" style="border-radius: 1%;">
                            </div>
                        {% else %}
                            <!-- Do nothing -->
                        {% endif %}

                        <!-- Like button -->
                        <form action="{% url 'feed:like_unlike_post' %}" method="POST" class='like-form' id='{{post.id}}'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{post.id}}>
                            <div style="margin: 0 0 0 30px; display: flex; align-items: center;">
                                <div style="flex-shrink: 0;">
                                    <button type="submit" class="ui button like-btn{{post.id}}">
                                        {% if profile not in post.liked.all %}
                                            Like
                                        {% else %}
                                            Unlike
                                        {% endif %}
                                    </button>
                                </div>
                                <div style="margin-left: 10px;">
                                    <div class="like-count{{post.id}}">{{post.num_likes}}</div>
                                </div>
                                <div>
                                    <div>&nbsp;likes</div>
                                </div>
                            </div>
                        </form>

                        <hr style="margin-left: 15px; margin-right: 15px;">

                        <!-- Comments  -->

                        {% if post.comments.all %}
                            <h5 style="margin-left: 40px; margin-bottom: 5px; font-size: 18px;">Comments:</h5>
                        {% endif %}

                        {% for comment in post.comments.all %}

                        <div style="margin-left: 60px; display: flex; justify-content: space-between; align-items: center;">
                            <div></div>
                            <div style=" text-align: left; margin-right: auto; margin: 10px 0 0 20px;">
                                <a href="{% url 'user:my_user_profile' comment.profile.user.id %}" style="text-decoration: none; color: inherit;">
                                    <img src="{{ comment.profile.image.url }}" alt="profile_photo" width="50" height="50" style="border-radius: 50%; margin-bottom: 15px;">
                                </a>
                            </div>
                            <div style="margin-left: 10px; width:750px;" >
                                <a href="{% url 'user:my_user_profile' comment.profile.user.id %}" style="text-decoration: none; color: inherit;">
                                    <p style="margin-top: 10px; margin-bottom: 0; font-size: 16px;">{{ comment.profile.user.first_name }} {{ comment.profile.user.last_name }}</p>
                                </a>
                                <p style="margin-bottom: 0; font-size: 16px;">{{ comment.text }}</p>
                                <p style="font-size: 12px; margin-top: 1px;">{{ comment.created_at|timesince }} ago </p>
                            </div>
                        </div>
                        
                        {% endfor %}

                        <!-- Leave a comment form -->
                        <form method="post" style="margin-top: 5px;">
                            {% csrf_token %}
                            <input type="hidden" name="post_id_comment" value="{{ post.id }}">
                            <div class="mb-3" style="width: 70%; margin: 0 auto;">
                                <input type="text" class="form-control" placeholder="Leave a comment" name="text">
                            </div>
                            <button type="submit" style="display: block; margin: 10px 0 15px 0; margin-left: auto; margin-right: auto;">Leave comment</button>
                        </form>

                    </div>
                    {% endfor %}

                {% endif %}


                <!-- THE REST OF THE POSTS -->

                {% if rest_posts %}

                    <hr style="margin-top: 50px;">

                    <h2 style="text-align: center; margin: 30px auto 60px auto;">Recommended content for you:</h2>

                    {% for post in rest_posts %}
                    <div class="card" style="width: 815px; background-color: rgb(235, 235, 235); margin-right: 0px; margin-bottom: 20px;">

                        <!-- Header of the post -->
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <div style="text-align: left; margin-right: auto; margin: 10px 0 0 20px;">
                                <a href="{% url 'user:my_user_profile' post.profile.user.id %}"><img src="{{ post.profile.image.url }}" alt="profile_photo" width="50" height="50" style="border-radius: 50%;"></a>
                            </div>
                            <div style="margin-left: 10px; width:750px;" >
                                <a href="{% url 'user:my_user_profile' post.profile.user.id %}" style="text-decoration: none; color: inherit;">
                                    <p style="margin-top: 25px; margin-bottom: 0;">{{ post.profile.user.first_name }} {{ post.profile.user.last_name }}</p>
                                </a>                            
                                <p style="font-size: 12px;">{{ post.created_at|timesince }} ago </p>
                            </div>


                            <!-- Dropdown button "Options" -->
                            <div class="dropdown">
                                <button type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 20px;">
                                    Options
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <!-- First action with delete button -->
                                    <li>
                                        <form method="post" action="{% url 'feed:delete_post' post_id=post.id %}">
                                            {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Delete</button>
                                        </form>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Edit post</a></li>
                                </ul>
                            </div>

                        </div>
                        
                        <!-- Text of the post -->
                        <div style="text-align: left; margin-bottom: 0; margin-left: 30px; margin-top: 0; padding-top: 5px; margin-left: 30px;">
                            {{ post.text | safe }}
                        </div>

                        <!-- Check if we have image in post -->
                        {% if post.image %}
                        <div style="text-align: center; margin-bottom: 30px;">
                            <img src="{{ post.image.url }}" alt="product" width="750" height="550" class="preview-img" style="border-radius: 1%;">
                        </div>
                        {% else %}
                        <!-- Do nothing -->
                        {% endif %}

                        <!-- Like button -->
                        <form action="{% url 'feed:like_unlike_post' %}" method="POST" class='like-form' id='{{post.id}}'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{post.id}}>
                            <div style="margin: 0 0 0 30px; display: flex; align-items: center;">
                                <div style="flex-shrink: 0;">
                                    <button type="submit" class="ui button like-btn{{post.id}}">
                                        {% if profile not in post.liked.all %}
                                            Like
                                        {% else %}
                                            Unlike
                                        {% endif %}
                                    </button>
                                </div>
                                <div style="margin-left: 10px;">
                                    <div class="like-count{{post.id}}">{{post.num_likes}}</div>
                                </div>
                                <div>
                                    <div>&nbsp;likes</div>
                                </div>
                            </div>
                        </form>

                        <hr style="margin-left: 15px; margin-right: 15px;">

                        <!-- Comments  -->

                        {% if post.comments.all %}
                        <h5 style="margin-left: 40px; margin-bottom: 5px; font-size: 18px;">Comments:</h5>
                        {% endif %}

                        {% for comment in post.comments.all %}

                        <div style="margin-left: 60px; display: flex; justify-content: space-between; align-items: center;">
                            <div></div>
                            <div style=" text-align: left; margin-right: auto; margin: 10px 0 0 20px;">
                                <a href="{% url 'user:my_user_profile' comment.profile.user.id %}" style="text-decoration: none; color: inherit;">
                                    <img src="{{ comment.profile.image.url }}" alt="profile_photo" width="50" height="50" style="border-radius: 50%; margin-bottom: 15px;">
                                </a>
                            </div>
                            <div style="margin-left: 10px; width:750px;" >
                                <a href="{% url 'user:my_user_profile' comment.profile.user.id %}" style="text-decoration: none; color: inherit;">
                                    <p style="margin-top: 10px; margin-bottom: 0; font-size: 16px;">{{ comment.profile.user.first_name }} {{ comment.profile.user.last_name }}</p>
                                </a>
                                <p style="margin-bottom: 0; font-size: 16px;">{{ comment.text }}</p>
                                <p style="font-size: 12px; margin-top: 1px;">{{ comment.created_at|timesince }} ago </p>
                            </div>
                        </div>
                        
                        {% endfor %}

                        <!-- Leave a comment form -->
                        <form method="post" style="margin-top: 5px;">
                            {% csrf_token %}
                            <input type="hidden" name="post_id_comment" value="{{ post.id }}">
                            <div class="mb-3" style="width: 70%; margin: 0 auto;">
                                <input type="text" class="form-control" placeholder="Leave a comment" name="text">
                            </div>
                            <button type="submit" style="display: block; margin: 10px 0 15px 0; margin-left: auto; margin-right: auto;">Leave comment</button>
                        </form>

                    </div>
                    {% endfor %}
                
                {% endif %}

            </div>

            <!-- SECTION 3: RECOMMENDED PEOPLE -->
            <div class="card" style="display: inline-block; width: 350px; margin: 35px; padding: 0px; border: none;">

                <div class="card" style="display: inline-block; width: 350px; margin: 0px; padding: 0px; background-color: rgb(235, 235, 235);">
                    
                    <div class="card-header" style="text-align: center; background-color: rgb(235, 235, 235); border: none; padding-bottom: 0;">
                        <h5 style="color: rgb(0, 0, 0); text-align: left; margin-left: 10px;">People you may know</h5>
                    </div>
                    <div class="card-body" style="text-align: center; background-color: rgb(235, 235, 235); border: none; padding: 0 0 15px 5px;">

                        {% for recommended_profile in recommended_profiles %}

                        <div style="display: flex; align-items: center;">
                            <div style="text-align: left; margin-right: auto; margin: 15px 0 0 20px;">
                                <a href="{% url 'user:my_user_profile' recommended_profile.user.id  %}">
                                    <img src="{{ recommended_profile.image.url }}" alt="profile_photo" width="50" height="50" style="border-radius: 50%; margin: 0 15px 0 5px;">
                                </a>
                            </div>
                            <div style="text-align: left; margin-right: auto; margin: 28px 0 0 0;">
                                <p style="font-size: 19px;">
                                    <a href="{% url 'user:my_user_profile' recommended_profile.user.id  %}" style="text-decoration: none; color: inherit;">
                                        {{ recommended_profile.user.first_name }} {{ recommended_profile.user.last_name }}
                                    </a>
                                </p>
                            </div>
                        </div>

                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.like-form').click(function(e) {
                e.preventDefault()
                
                const post_id = $(this).attr('id')
                
                const likeText = $(`.like-btn${post_id}`).text()
                const trim = $.trim(likeText)
                
                const url = $(this).attr('action')
                
                let res;
                const likes = $(`.like-count${post_id}`).text()
                const trimCount = parseInt(likes)
                
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_id':post_id,
                    },
                    success: function(response) {
                        if(trim == 'Unlike') {
                            $(`.like-btn${post_id}`).text('Like')
                            res = trimCount - 1
                        } else {
                            $(`.like-btn${post_id}`).text('Unlike')
                            res = trimCount + 1
                        }

                        $(`.like-count${post_id}`).text(res)

                    },
                    error: function(response) {
                        console.log('error', response)
                    }

                })
            });
        });
    </script>


{% endblock %}