{% extends "base.html" %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>    
        {% endfor %}
    {% endif %}

    <div class="card-container" style="text-align: left; margin-top: 20px;">

        <div class="row justify-content-center" style="padding: 0px; margin: 0px;">

            <!-- SECTION 1: USER PROFILE -->
            <div class="card" style="display: inline-block; width: 350px; margin: 35px; padding: 0px; border: none;">

                <div class="card" style="display: inline-block; width: 350px; margin: 0px; padding: 0px; background-color: rgb(235, 235, 235);">

                    <div class="card-body" style="text-align: center;">
                        <img src="{{ profile.image.url }}" alt="profile_photo" width="310" height="310" style="border-radius: 50%;">
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
                    </div>

                </div>

            </div>
            
            <!-- SECTION 2: NEWS FEED -->
            <div class="card" style="display: inline-block; width: 850px; margin: 35px; padding-left: 18px; border: none;">

                <div class="card" style="width: 815px; background-color: rgb(235, 235, 235); margin-right: 0px; margin-bottom: 20px;">
                    
                    <form method="POST" style="margin: 15px;" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <textarea name="text" rows="3" class="form-control" placeholder="What would you like to share today?" required></textarea>
                        </div>
                        
                        <div style="display: flex; justify-content: space-between; margin-top: 20px;">

                            <div class="form-group">
                                <input type="file" name="image" class="form-control-file" id="id_image" accept="image/*">
                            </div>
                            
                            <div>
                                <button type="submit" style="border-radius: 5%; border-width: 1px; height: 30px; width: 90px;">Submit</button>
                            </div>
                            
                        </div>
                    </form>

                </div>
                

                {% for post in posts %}
                <div class="card" style="width: 815px; background-color: rgb(235, 235, 235); margin-right: 0px; margin-bottom: 20px;">

                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div style="text-align: left; margin-right: auto; margin: 15px 0 0 20px;">
                            <img src="{{ post.profile.image.url }}" alt="profile_photo" width="50" height="50" style="border-radius: 50%;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.profile.user.first_name }} {{ post.profile.user.last_name }}
                        </div>
                        <div style="text-align: right; margin: 15px 20px 0 0;">
                            {{ post.created_at }}
                        </div>
                    </div>
                    
                    <div style="text-align: left; margin-bottom: 20px; margin-left: 30px;">
                        <p style="margin-top: 20px; margin-left: 30px;">{{ post.text | safe }}</p>
                    </div>

                    <div style="text-align: center; margin-bottom: 30px;">
                        <img src="{{ post.image.url }}" alt="product" width="750" height="550" class="preview-img">
                    </div>
                    
                </div>
                {% endfor %}

            </div>

            <!-- SECTION 3: RECOMMENDED PEOPLE -->
            <div class="card" style="display: inline-block; width: 350px; margin: 35px; padding: 0px; border: none;">

                <div class="card" style="display: inline-block; width: 350px; margin: 0px; padding: 0px; background-color: rgb(235, 235, 235);">
                    
                    <div class="card-header" style="text-align: center; background-color: rgb(235, 235, 235); border: none;">
                        <h5 style="color: rgb(0, 0, 0); text-align: left; margin-left: 10px;">People you may know</h5>
                    </div>
                    <div class="card-body" style="text-align: center; background-color: rgb(235, 235, 235); border: none;">

                        {% for recommended_profile in recommended_profiles %}

                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <div style="text-align: left; margin-right: auto; margin: 15px 0 0 20px;">
                                <img src="{{ recommended_profile.image.url }}" alt="profile_photo" width="50" height="50" 
                                style="border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{ recommended_profile.user.first_name }} {{ recommended_profile.user.last_name }}
                            </div>
                        </div>

                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}