<!-- _album_preview.html -->

<h3 style="margin-top: 20px;">Albums:</h3>   

{% if albums.exists %} 
    <div class="row">   
        {% for album in albums %}

            <div class="card" style="width: 300px; height: 220px; margin: 20px 60px; background-color: rgb(235, 235, 235);">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">
                        <a href="{% url 'user:photo_list' profile_user.id album.id %}" style="text-decoration: none; color: black;">{{ album.title }}</a>
                    </h4>
                    <div class="card-footer" style="height: 151px;">
                        {% for photo in album.photos.all|slice:":6" %}
                        <img src="{{ photo.image.url }}" alt="{{ photo.description }}" class="img-thumbnail" style="width: 67px; height: auto;">
                        {% empty %}
                        <p style="text-align: center; height: 99px;">No photos added yet </p>
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <a href="{% url 'user:album_list' profile_user.id %}" class="btn btn-secondary" style="margin-bottom: 30px; margin-top: 10px;">Go to Albums</a>
{% else %}

    {% if profile_user == request.user %}
        <div class="card" style="width: 815px; background-color: rgb(235, 235, 235); margin-right: 0px; 
                                margin-bottom: 30px; padding: 30px; align-items: center; margin-top: 10px;">
            <h5>You don't have any albums created yet.</h5>
            <h5>To create an album, click "Go to Albums"</h5>
        </div>
        <a href="{% url 'user:album_list' profile_user.id %}" class="btn btn-secondary" style="margin-bottom: 30px; margin-top: 10px;">Go to Albums</a>
    {% elif profile_user != request.user %}
        <div class="card" style="width: 815px; background-color: rgb(235, 235, 235); margin-right: 0px; 
                                margin-bottom: 30px; padding: 30px; align-items: center; margin-top: 10px;">
            <h5>This user doesn't have any albums created yet.</h5>
            <h5>Once he/she does this you will see all his/her albums here.</h5>
        </div>
    {% endif %}

{% endif %}


