{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h1>Edit your profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="{{ form.image.id_for_label }}" class="form-label">Profile Picture:</label>
                    {% if form.image.value %}
                    <img src="{{ form.image.value.url }}" alt="Profile Image" class="img-fluid mb-3 rounded">
                    {% endif %}
                    {{ form.image }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="{{ form.background_image.id_for_label }}" class="form-label">Background Image:</label>
                    {{ form.background_image }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.description.id_for_label }}" class="form-label">Description:</label>
                    {{ form.description }}
                </div>
                
                <div class="mb-3">
                    <label for="{{ form.date_of_birth.id_for_label }}" class="form-label">Date of Birth:</label>
                    {{ form.date_of_birth }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.gender.id_for_label }}" class="form-label">Gender:</label>
                    {{ form.gender }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.phone.id_for_label }}" class="form-label">Phone Number:</label>
                    {{ form.phone }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.location.id_for_label }}" class="form-label">Location:</label>
                    {{ form.location }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
</div>
{% endblock %}