{% extends "base.html" %}

{% block content %}

    <h1 style="margin: 20px 260px 10px 260px; padding: 200px 260px 30px 260px; text-align: center;">Please enter your username and password</h1>

    <div style="margin: 20px 260px; padding: 20px 260px; text-align: left;">

        <form method="post">
            {% csrf_token %}
            <div class="mb-3" style="width: 70%; margin: 0 auto;">
                <input type="text" class="form-control" placeholder="Enter Your Username" name="username">
            </div>
            <div class="mb-3" style="width: 70%; margin: 0 auto;">
                <input type="password" class="form-control" placeholder="Enter Your Password" name="password">
            </div>
            
            <div style="text-align: center; padding-top: 40px;">
                <button type="submit" class="btn btn-secondary" style="display: block; margin: 0 10px; display: inline-block;">
                    Log In
                </button>
                <a href="{% url 'main:home' %}" class="btn btn-secondary" style="display: inline-block; margin: 0 10px;">Go Back</a>
            </div>
        </form>
    </div>

{% endblock %}