{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-grey py-5" style="background-color: rgb(201, 201, 201);">
    <div class="container px-4 px-lg-5 my-5" style="background-color: rgb(201, 201, 201);">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Log In</h1>
            <p class="lead fw-normal text-black-50 mb-0" style="font-size: larger;">We're glad you're part of our community</p>
        </div>
    </div>
</header>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<h1 style="margin: 50px 260px 10px 260px; padding: 20px 260px; text-align: center;">Please enter your username and password</h1>

<div style="margin: 20px 260px; padding: 20px 260px; text-align: left;">

    <form method="post">
        {% csrf_token %}
        <div class="mb-3" style="width: 70%; margin: 0 auto;">
            <input type="text" class="form-control" placeholder="Enter Your Username" name="username">
        </div>
        <div class="mb-3" style="width: 70%; margin: 0 auto;">
            <input type="password" class="form-control" placeholder="Enter Your Password" name="password">
        </div>
        <button type="submit" class="btn btn-secondary" style="display: block; margin-top: 50px; margin-bottom: 10px; margin-left: auto; margin-right: auto;">Log In</button>
        
    </form>
</div>

<br><br><br><br><br><br><br><br><br>

{% endblock %}