{% extends "base.html" %}


{% block content %}
<div class="container mt-3">
     <!-- Background Image -->
     <div class="profile-background" style="height: 300px; background-size: cover; background-position: center; width: 100%; {% if user_profile.background_image %}background-image: url('{{ user_profile.background_image.url }}');{% endif %}"></div>
    
    <!-- User Profile Details -->
    <div class="row">
        <!-- Profile Image and Description -->
        <h3>{{ user_profile.user.username }}</h3>
        <div class="col-md-8">
            {% if user_profile.image %}
            <img src="{{ user_profile.image.url }}" alt="Profile Image" class="img-fluid mb-3 rounded" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal">
            <!-- Image Modal -->
            <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModalLabel">{{ user_profile.user.username }}'s profile picture</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ user_profile.image.url }}" alt="Profile Image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>No image available.</p>
            {% endif %}
            <p></p>
            <p><strong>Description:</strong> {{ user_profile.description }}</p>
        </div>
        <!-- Activity Card -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Activity</h5>
                    <p><strong>Date Joined:</strong> {{ user_profile.user.date_joined|date:"d-m-Y" }}</p>
                    <p><strong>Last Login:</strong> {{ user_profile.user.last_login|date:"d-m-Y" }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Additional Information -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Additional Information</h5>
                    <p><strong>Date of Birth:</strong> {{ user_profile.date_of_birth|date:"Y-m-d" }}</p>
                    <p><strong>Gender:</strong> {{ user_profile.gender }}</p>
                    <p><strong>Phone:</strong> {{ user_profile.phone }}</p>
                    <p><strong>Location:</strong> {{ user_profile.location }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
